.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  background: center center / cover url('/img/station.jpg');
}

.center {
  text-align: center;
  background: #efefef;
  border-radius: 20px;
  padding: 20px 60px;
}

.center > button {
  padding: 10px 20px;
}
