.container {
  padding: 10px;
  overflow: scroll;
}

.container.selected {
  background: #999;
}

.container > h1 {
  font-size: 16px;
  margin: 0;
}

.todos {
  display: flex;
  flex-direction: column;
}

.todo {
  display: flex;
}

.todo > button {
  border: 0;
  background: transparent;
  width: 16px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
}

.todo:hover > button {
  opacity: 1;
}

.todo > button:hover {
  color: #2196f3;
}
