.container {
  width: 50%;
}

.head {
  height: 60px;
  display: flex;
  align-items: center;
}

.todos {
  display: flex;
  flex-direction: column;
  padding: 10px;
  height: calc(100% - 60px);
  overflow: scroll;
}

.todoform {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.todoform > button {
  margin-top: 10px;
}
