.container {
  width: 1200px;
}

.todos {
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
}

.todoform {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.todoform > button {
  margin-top: 10px;
}
