.container {
  background: #efefef;
  margin: 10px;
  padding: 20px;
  border-radius: 10px;
  position: relative;
}

.container > h1 {
  font-size: 16px;
  margin: 0;
}

.container > p {
  margin: 0;
}

.editbutton {
  position: absolute;
  right: 16px;
  top: 0;
  width: 16px;
  height: 16px;
  border: 0;
  background: transparent;
  opacity: 0;
}

.container:hover > .editbutton {
  opacity: 1;
}

.editbutton:hover {
  color: #2196f3;
}
